<div id="card">
    <div class="header">
        <h4>Cards</h4>
        <a>Qual tipo de componente utilizar?</a>
    </div>
    <div class="describle">
        <span>Em nossa plataforma, disponibilizamos três opções de Cards para você utilizar em seus projetos: <b>Large, Medium</b> e <b>Small.</b> Cada um desses cards pode ser personalizado de acordo com suas necessidades e se adapta bem ao layout de qualquer página.</span>
    </div>
    <main>
        <div class="">
            <app-small></app-small>  
            <app-medium></app-medium>
        </div>
    </main>
</div>