<header style="background-color: #F9F9F9;" class="w-100 flex flex-col">
    <nav class="p-4">
        <ul class="flex items-center justify-center w-100 lg:gap-12 md: gap-2 sm: gap-2 flex-wrap">
            <div class="flex items-center justify-center">
                <li><img class="w-72" src="assets/images/logo.png" alt="Logo"></li>
            </div>
            <div class="flex items-center justify-center mt-4">
                <li class="p-4 mr-12 text-white rounded-xl w-40 text-center font-semibold" style="background-color: #FF3E37;">Componentes</li>
                <li class="link-menu" style="font-weight: bold;">👋 Bem-vindo à nossa plataforma de componentes!</li>
            </div>
        </ul>
    </nav>
    <div class="flex bg-black text-white p-6 justify-center">
        <h4 class="text-center font-bold">Aqui, você pode criar suas aplicações e projetos de forma rápida. Basta copiar o código do componente desejado e personalizá-lo conforme necessário.</h4>
    </div>
</header>
