<header>
    <nav>
        <ul>
            <div class="container-logo">
                <li><img src="assets/images/logo.png" alt="Logo"></li>
                <hr>
            </div>
            <div class="container-links-menu">
                <li class="link-menu active">Componentes</li>
                <li class="link-menu" style="font-weight: bold;">👋 Bem-vindo à nossa plataforma de componentes!</li>
            </div>
        </ul>
    </nav>
    <div class="container-slogan">
        <h4>Aqui, você pode criar suas aplicações e projetos de forma rápida. Basta copiar o código do componente desejado e personalizá-lo conforme necessário.</h4>
    </div>
</header>
