<div id="buttons">
    <div class="header">
        <h4>Buttons</h4>
        <a>Qual tipo de componente utilizar?</a>
    </div>
    <div class="describle">
        <span>Em nossa plataforma, oferecemos botões em três tamanhos diferentes:  <b>Large, Medium</b> e <b>Small.</b> Cada opção é projetada para atender a diferentes necessidades de design e usabilidade em seu projeto.</span>
    </div>
    <main>
        <div class="flex lg:gap-40 sm:gap-12 col-auto flex-wrap lg:justify-start md:justify-start sm:justify-center">
            <div class="buttons">
                <app-small></app-small>
                <app-medium></app-medium>
                <app-large></app-large>
            </div>
        </div>
    </main>
</div>