<div id="alert">
    <div class="header">
        <h4>Alerts</h4>
        <a>Qual tipo de componente utilizar?</a>
    </div>
    <div class="describle">
        <span>Em nossa plataforma, disponibilizamos dois tamanhos de Alerts para você utilizar em seus projetos:  <b>Large</b> e <b>Small.</b> Eles são ideais para mostrar mensagens de feedback, como notificações ou alertas, de maneira clara e visível.</span>
    </div>
    <main>
        <div class="flex lg:gap-40 sm:gap-12 col-auto flex-wrap lg:justify-start md:justify-start sm:justify-center">
            <!-- <app-small></app-small>  
            <app-medium></app-medium>
            <app-large></app-large> -->
        </div>
    </main>
</div>
